:root {
    --ff-inter: "Inter", sans-serif;
    --ff-lexed: "Lexend Deca", sans-serif;

    --dk-darkish: #0a0c1c;
    --white: #ffffff;
    --dk-bluish: #1b1937;
    --purpleish: #ab5cdb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dk-darkish);
    color: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 327px;
    height: 800px;
    background-color: var(--dk-bluish);
    margin: auto;
    border-radius: 8px; 
}

.card__img-container {
    width: 327px;
    height: 240px;
    border-radius: 8px 8px 0 0;
    background-color: var(--purpleish);
    background-image: url(/images/image-header-mobile.jpg);
    background-blend-mode: multiply;
    background-size: cover;
}

.card__main-content {
    text-align: center;
    width: 264px;
    margin: 0 auto;
}

.card__header {
    font-family: var(--ff-inter);
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    line-height: 32px;
    margin-top: 40px;
}

.card__header span {
    color: var(--purpleish);
}

.card__disc {
    font-family: var(--ff-inter);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 75%;
    margin-top: 17px;
}

.card__stat {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__stat div {
    margin-bottom: 30px;
    font-family: var(--ff-inter);
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
}

.card__stat div span {
    display: block;
    font-family: var(--ff-lexed);
    font-size: 12px;
    font-weight: 400;
    opacity: 60%;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    color: lightpink;
   
}

@media (min-width : 800px) {

    .card {
        width: 540px;
    }

    .card__img-container {
        width: 540px;
        height: 446px;
        background-image: url(/images/image-header-desktop.jpg);
    }

    .card__main-content {
        width: 400px;
    }

    .card__stat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width : 1100px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        width: 1100px;
        height: 446px;
    }

    .card__img-container {
        border-radius: 0 8px 8px 0;
    }

    .card__main-content {
        padding-top: 35px;
        width: 400px;
        text-align: left;
    }
    .card__header h1 {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    .card__disc {
        margin-bottom: 65px;
        width: 380px;
    }
}